<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	
	<!-- ###################################
	     #      .::MaterializedCMS::.      #
	     #   Website Systems Web.Config    #		 
		 # http://www.materializedcms.com/ #
		 ################################### -->
		 
		<defaultDocument enabled="true">
		  <files>
			<clear />
			<add value="index.php" />
			<add value="default.html" />
		  </files>
		</defaultDocument>
		<security>
		  <authentication>
			<basicAuthentication enabled="true" />
		  </authentication>
		</security>
		<httpErrors errorMode="Custom">
		  <remove statusCode="404" subStatusCode="-1" />
		  <error statusCode="404" prefixLanguageFilePath="" path="/System/Error/Error_404.php" responseMode="ExecuteURL" />
		</httpErrors>
		<!-- HIDE ASP.NET -->
		<httpProtocol>
		  <customHeaders>
			<remove name="X-Powered-By" />
		  </customHeaders>
		</httpProtocol>	
		
	<!-- ###################################
		 #                                 #
		 #            Security             #		 
		 #                                 #
		 ################################### -->
		 
        <security>
            <requestFiltering>
                <fileExtensions applyToWebDAV="false">
                     <add fileExtension=".csv" allowed="false" />
					 <add fileExtension=".cfg" allowed="false" />
					 <add fileExtension=".dev" allowed="false" />							 
                </fileExtensions>
            </requestFiltering>
		  <authorization>
			<!-- Deny all users access to the root of the website, since it
				 contains this web.config -->
				<remove users="*" roles="" verbs="" />
			<add accessType="Deny" users="*" />
		  </authorization>			
        </security>		
		
		<!-- REWRITE SECTION -->	
		<rewrite>

		  <!-- Custom Servername -->
		  <outboundRules rewriteBeforeCache="true">
		  </outboundRules>
		  
		  <rules>
                <rule name="CanonicalHostNameRule1" stopProcessing="true">
                    <match url="0.0.0.0" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="0.0.0.0" />
                    </conditions>
                    <action type="Redirect" url="enteryourdomain.com" />
                </rule>
		  
			<!-- ###################################
				 #                                 #
				 #          Other Stuff            #		 
				 #                                 #
				 ################################### -->
			
				<!-- Rewrite Robot.txt to Robot.php to add php code inside -->
                <rule name="Rewrite Tool - robots.txt to robots.php" stopProcessing="true">
                    <match url="^robots\.txt$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="robots.php" />
                </rule>
				
				<!-- Redirect HTTP to HTTPS -->	
				<rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>					

				<!-- Redirect Server IP to Domain Name Canonical FIX -->
                <rule name="IP to Domain Redirect Hit" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="0.0.0.0" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>		               	
				
			<!-- ###################################
				 #                                 #
				 #    Rewrite Home & Dashboard     #		 
				 #                                 #
				 ################################### -->

				<!-- Rewrite Home ( Landing Page ) -->
                <rule name="Rewrite Public - Home (Landing Page)" stopProcessing="true">
                    <match url="^home$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="System/Views/Welcome.php" />
                </rule>	
				
				<!-- Rewrite Admin Dashboard ( Dashboard Home ) -->
                <rule name="Rewrite Admin Dashboard - Home" stopProcessing="true">
                    <match url="^dashboard$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Index.php" />
                </rule>		
				
			<!-- ###################################
				 #                                 #
				 #  Rewrite Admin Login & Logout   #		 
				 #                                 #
				 ################################### -->
			
				<!-- Rewrite Admin Login -->
                <rule name="Rewrite Admin Dashboard - Login" stopProcessing="true">
                    <match url="^dashboard/signin$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Login.php" />
                </rule>
				
				<!-- Rewrite Admin Logout -->
                <rule name="Rewrite Admin Dashboard - Logout" stopProcessing="true">
                    <match url="^dashboard/signout$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Logout.php" />
                </rule>				
				
			<!-- ###################################
				 #                                 #
				 #   Rewrite Blog System Rules     #		 
				 #                                 #
				 ################################### -->	
				 
				<!-- Rewrite Articles -->
                <rule name="Rewrite Public - All Articles" stopProcessing="true">
                    <match url="^articles$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="System/Views/Articles.php" />
                </rule>

				<!-- Rewrite Article Post -->
                <rule name="Rewrite Public - View Article ID (WIP)" stopProcessing="true">
                    <match url="^article/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="System/Views/Viewarticle.php?id={R:1}" appendQueryString="true" />
                </rule>						
				
				<!-- Rewrite Admin Dashboard - All Articles -->
                <rule name="Rewrite Admin Dashboard - All Articles" stopProcessing="true">
                    <match url="^dashboard/articles$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Blog/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Create Article -->
                <rule name="Rewrite Admin Dashboard - Create Article" stopProcessing="true">
                    <match url="^dashboard/create-article$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Blog/Create.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Article -->
                <rule name="Rewrite Admin Dashboard - Edit Article" stopProcessing="true">
                    <match url="^dashboard/edit-article/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Blog/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Article -->
                <rule name="Rewrite Admin Dashboard - Delete Article" stopProcessing="true">
                    <match url="^dashboard/delete-article/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Blog/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>						

			<!-- ###################################
				 #                                 #
				 #   Rewrite Page System Rules     #		 
				 #                                 #
				 ################################### -->	
				 
				<!-- Rewrite Pages -->
                <rule name="Rewrite Public - All Pages" stopProcessing="true">
                    <match url="^pages$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="System/Views/Pages.php" />
                </rule>

				<!-- Rewrite Viewpage -->
                <rule name="Rewrite Public - View Page ID (WIP)" stopProcessing="true">
                    <match url="^page/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="System/Views/Viewpage.php?id={R:1}" appendQueryString="true" />
                </rule>						
				
				<!-- Rewrite Admin Dashboard - All Pages -->
                <rule name="Rewrite Admin Dashboard - All Pages" stopProcessing="true">
                    <match url="^dashboard/pages$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Pages/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Create Page -->
                <rule name="Rewrite Admin Dashboard - Create Page" stopProcessing="true">
                    <match url="^dashboard/create-page$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Pages/Create.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Page -->
                <rule name="Rewrite Admin Dashboard - Edit Page" stopProcessing="true">
                    <match url="^dashboard/edit-page/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Pages/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Page -->
                <rule name="Rewrite Admin Dashboard - Delete Page" stopProcessing="true">
                    <match url="^dashboard/delete-page/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Pages/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>						
								
			<!-- ###################################
				 #                                 #
				 #   Rewrite Staff System Rules    #		 
				 #                                 #
				 ################################### -->

				<!-- Rewrite Admin Dashboard - All Staff Accounts -->
                <rule name="Rewrite Admin Dashboard - All Staff Accounts" stopProcessing="true">
                    <match url="^dashboard/staff$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Staff/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Create Staff Account -->
                <rule name="Rewrite Admin Dashboard - Create Staff Account" stopProcessing="true">
                    <match url="^dashboard/create-staff$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Staff/Create.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Staff Account -->
                <rule name="Rewrite Admin Dashboard - Edit Staff Account" stopProcessing="true">
                    <match url="^dashboard/edit-staff/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Staff/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Staff Account -->
                <rule name="Rewrite Admin Dashboard - Delete Staff Account" stopProcessing="true">
                    <match url="^dashboard/delete-staff/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Staff/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>	
				
			<!-- ###################################
				 #                                 #
				 #      Rewrite Nav Menu Rules     #		 
				 #                                 #
				 ################################### -->

				<!-- Rewrite Admin Dashboard - All Menu Items -->
                <rule name="Rewrite Admin Dashboard - All Menu Items" stopProcessing="true">
                    <match url="^dashboard/menu$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Menu/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Create new Menu Item -->
                <rule name="Rewrite Admin Dashboard - Create Menu Item" stopProcessing="true">
                    <match url="^dashboard/create-menu$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Menu/Create.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Menu Item -->
                <rule name="Rewrite Admin Dashboard - Edit Menu Item" stopProcessing="true">
                    <match url="^dashboard/edit-menu/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Menu/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Menu Item -->
                <rule name="Rewrite Admin Dashboard - Delete Menu Item" stopProcessing="true">
                    <match url="^dashboard/delete-menu/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Menu/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>	
				
				<!-- Rewrite Admin Dashboard - Create new Sub-Menu Item -->
                <rule name="Rewrite Admin Dashboard - Create Sub-Menu Item" stopProcessing="true">
                    <match url="^dashboard/create-sub-menu$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Menu/sCreate.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Sub-Menu Item -->
                <rule name="Rewrite Admin Dashboard - Edit Sub-Menu Item" stopProcessing="true">
                    <match url="^dashboard/edit-sub-menu/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Menu/sEdit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Sub-Menu Item -->
                <rule name="Rewrite Admin Dashboard - Delete Sub-Menu Item" stopProcessing="true">
                    <match url="^dashboard/delete-sub-menu/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Menu/sDelete.php?id={R:1}" appendQueryString="true" />
                </rule>					
								
			<!-- ###################################
				 #                                 #
				 #      Rewrite Category Rules     #		 
				 #                                 #
				 ################################### -->

				<!-- Rewrite Admin Dashboard - All Cat Items -->
                <rule name="Rewrite Admin Dashboard - All Cat Items" stopProcessing="true">
                    <match url="^dashboard/cat$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Cats/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Create new Cat Item -->
                <rule name="Rewrite Admin Dashboard - Create Cat Item" stopProcessing="true">
                    <match url="^dashboard/create-cat$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Cats/Create.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Cat Item -->
                <rule name="Rewrite Admin Dashboard - Edit Cat Item" stopProcessing="true">
                    <match url="^dashboard/edit-cat/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Cats/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Cat Item -->
                <rule name="Rewrite Admin Dashboard - Delete Cat Item" stopProcessing="true">
                    <match url="^dashboard/delete-cat/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Cats/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>	
				
				<!-- Rewrite Admin Dashboard - Create new Sub-Cat Item -->
                <rule name="Rewrite Admin Dashboard - Create Sub-Cat Item" stopProcessing="true">
                    <match url="^dashboard/create-sub-cat$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Cats/sCreate.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit Sub-Cat Item -->
                <rule name="Rewrite Admin Dashboard - Edit Sub-Cat Item" stopProcessing="true">
                    <match url="^dashboard/edit-sub-cat/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Cats/sEdit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete Sub-Cat Item -->
                <rule name="Rewrite Admin Dashboard - Delete Sub-Cat Item" stopProcessing="true">
                    <match url="^dashboard/delete-sub-cat/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Cats/sDelete.php?id={R:1}" appendQueryString="true" />
                </rule>	
				
			<!-- ###################################
				 #                                 #
				 #  Rewrite Visitor System Rules   #		 
				 #                                 #
				 ################################### -->

				<!-- Rewrite Admin Dashboard - All Visitors -->
                <rule name="Rewrite Admin Dashboard - All Visitors" stopProcessing="true">
                    <match url="^dashboard/visitors$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Visits/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Delete Visitor -->
                <rule name="Rewrite Admin Dashboard - Delete Visitor" stopProcessing="true">
                    <match url="^dashboard/delete-visitor/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Visits/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>

				<!-- Rewrite Delete of all Visitors -->
                <rule name="Rewrite Admin Dashboard - Delete all Visitors" stopProcessing="true">
                    <match url="^dashboard/wipe-visitors$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Visits/DeleteAll.php" />
                </rule>				
				 
			<!-- ###################################
				 #                                 #
				 #  Rewrite Contact System Rules   #		 
				 #                                 #
				 ################################### -->
				
				<!-- Rewrite Contact - Form -->
                <rule name="Rewrite Public - Contact Form" stopProcessing="true">
                    <match url="^contact$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="System/Core/Contact/Create.php" />
                </rule>	
								 
				<!-- Rewrite Admin Dashboard - Contact Mailbox -->
                <rule name="Rewrite Admin Dashboard - Mailbox" stopProcessing="true">
                    <match url="^dashboard/mailbox$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Mail/Index.php" />
                </rule>						

				<!-- Rewrite Delete of all Contact -->
                <rule name="Rewrite Admin Dashboard - Contact DeleteAll" stopProcessing="true">
                    <match url="^dashboard/wipe-contact-msgs$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Mail/DeleteAll.php" />
                </rule>
				
			<!-- ###################################
				 #                                 #
				 #    Rewrite FAQ System Rules     #		 
				 #                                 #
				 ################################### -->
				 
				<!-- Rewrite Admin Dashboard - All FAQS -->
                <rule name="Rewrite Admin Dashboard - All FAQS" stopProcessing="true">
                    <match url="^dashboard/faqs$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Faqs/Index.php" />
                </rule>						

				<!-- Rewrite Admin Dashboard - Create FAQ -->
                <rule name="Rewrite Admin Dashboard - Create FAQ" stopProcessing="true">
                    <match url="^dashboard/create-faq$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Faqs/Create.php" />
                </rule>
				
				<!-- Rewrite Admin Dashboard - Edit FAQ -->
                <rule name="Rewrite Admin Dashboard - Edit FAQ" stopProcessing="true">
                    <match url="^dashboard/edit-faq/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Faqs/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>					

				<!-- Rewrite Admin Dashboard - Delete FAQ -->
                <rule name="Rewrite Admin Dashboard - Delete FAQ" stopProcessing="true">
                    <match url="^dashboard/delete-faq/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Faqs/Delete.php?id={R:1}" appendQueryString="true" />
                </rule>			
				
			<!-- ###################################
				 #                                 #
				 #    Rewrite File Download Rules  #		 
				 #                                 #
				 ################################### -->
				 
				<!-- Rewrite Downloads - Downloads -->
                <rule name="Rewrite Downloads - Download File" stopProcessing="true">
                    <match url="^file/downloads$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Mods/Plugins/Downloads/Index.php" />
                </rule>					 
				<!-- Rewrite Downloads - Downloads 2 -->
                <rule name="Rewrite Downloads - Get File" stopProcessing="true">
                    <match url="^file/download$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Mods/Plugins/Downloads/download.php" />
                </rule>					 
								
			<!-- ###################################
				 #                                 #
				 #    Rewrite System CFG Rules     #		 
				 #                                 #
				 ################################### -->
				 
				<!-- Rewrite Admin Dashboard - HEADER CFG -->
                <rule name="Rewrite Admin Dashboard - System Header Config" stopProcessing="true">
                    <match url="^dashboard/header$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Header/Index.php" />
                </rule>					 
				<!-- Rewrite Admin Dashboard - HEADER ADD CFG -->
                <rule name="Rewrite Admin Dashboard - System Header Create" stopProcessing="true">
                    <match url="^dashboard/header/create$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/Header/Create.php" />
                </rule>						 
				<!-- Rewrite Admin Dashboard - FOOTER CFG -->
                <rule name="Rewrite Admin Dashboard - FOOTER CFG" stopProcessing="true">
                    <match url="^dashboard/footer-cfg/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Adm/Footer/Edit.php?id={R:1}" appendQueryString="true" />
                </rule>							 
				<!-- Rewrite Admin Dashboard - SYSTEM INFO -->
                <rule name="Rewrite Admin Dashboard - System Informations" stopProcessing="true">
                    <match url="^dashboard/system$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Adm/System/Index.php" />
                </rule>						
				 
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>
